body{margin:0;}
main{
    background: rgb(9,121,76);
    background: linear-gradient(90deg, rgba(9,121,76,1) 0%, rgba(0,212,255,1) 100%);
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns:repeat(16, 3rem);
    grid-template-rows: repeat(16, 3rem);
    justify-content: center;
    align-content: center;
    div{ 
        height:3rem;
        width:3rem;
    }
}

.red{background-color:#A12122}
.skin{background-color:#C79D75}
.brown{background-color: #52211A;}
.blu{background-color: #303A99;}
.yellow{background-color: #FEF200;}
.black{background-color: #000;}
.gloves{background-color: #FDC40D;}