body {
  margin: 0;
}

main {
  background: #09794c;
  background: linear-gradient(90deg, #09794c 0%, #00d4ff 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, 3rem);
  grid-template-rows: repeat(16, 3rem);
  justify-content: center;
  align-content: center;
}
main div {
  height: 3rem;
  width: 3rem;
  -webkit-animation: load 500ms steps(16, end);
          animation: load 500ms steps(16, end);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  transition: all ease 50ms;
}
main div:nth-child(0n) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
main div:nth-child(1n) {
  -webkit-animation-delay: 10ms;
          animation-delay: 10ms;
}
main div:nth-child(2n) {
  -webkit-animation-delay: 20ms;
          animation-delay: 20ms;
}
main div:nth-child(3n) {
  -webkit-animation-delay: 30ms;
          animation-delay: 30ms;
}
main div:nth-child(4n) {
  -webkit-animation-delay: 40ms;
          animation-delay: 40ms;
}
main div:nth-child(5n) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}
main div:nth-child(6n) {
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}
main div:nth-child(7n) {
  -webkit-animation-delay: 70ms;
          animation-delay: 70ms;
}
main div:nth-child(8n) {
  -webkit-animation-delay: 80ms;
          animation-delay: 80ms;
}
main div:nth-child(9n) {
  -webkit-animation-delay: 90ms;
          animation-delay: 90ms;
}
main div:nth-child(10n) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
main div:nth-child(11n) {
  -webkit-animation-delay: 110ms;
          animation-delay: 110ms;
}
main div:nth-child(12n) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}
main div:nth-child(13n) {
  -webkit-animation-delay: 130ms;
          animation-delay: 130ms;
}
main div:nth-child(14n) {
  -webkit-animation-delay: 140ms;
          animation-delay: 140ms;
}
main div:nth-child(15n) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
main div:nth-child(16n) {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}
main div:nth-child(17n) {
  -webkit-animation-delay: 170ms;
          animation-delay: 170ms;
}
main div:nth-child(18n) {
  -webkit-animation-delay: 180ms;
          animation-delay: 180ms;
}
main div:nth-child(19n) {
  -webkit-animation-delay: 190ms;
          animation-delay: 190ms;
}
main div:nth-child(20n) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
main div:nth-child(21n) {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}
main div:nth-child(22n) {
  -webkit-animation-delay: 220ms;
          animation-delay: 220ms;
}
main div:nth-child(23n) {
  -webkit-animation-delay: 230ms;
          animation-delay: 230ms;
}
main div:nth-child(24n) {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}
main div:nth-child(25n) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
main div:nth-child(26n) {
  -webkit-animation-delay: 260ms;
          animation-delay: 260ms;
}
main div:nth-child(27n) {
  -webkit-animation-delay: 270ms;
          animation-delay: 270ms;
}
main div:nth-child(28n) {
  -webkit-animation-delay: 280ms;
          animation-delay: 280ms;
}
main div:nth-child(29n) {
  -webkit-animation-delay: 290ms;
          animation-delay: 290ms;
}
main div:nth-child(30n) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
main div:nth-child(31n) {
  -webkit-animation-delay: 310ms;
          animation-delay: 310ms;
}
main div:nth-child(32n) {
  -webkit-animation-delay: 320ms;
          animation-delay: 320ms;
}
main div:nth-child(33n) {
  -webkit-animation-delay: 330ms;
          animation-delay: 330ms;
}
main div:nth-child(34n) {
  -webkit-animation-delay: 340ms;
          animation-delay: 340ms;
}
main div:nth-child(35n) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}
main div:nth-child(36n) {
  -webkit-animation-delay: 360ms;
          animation-delay: 360ms;
}
main div:nth-child(37n) {
  -webkit-animation-delay: 370ms;
          animation-delay: 370ms;
}
main div:nth-child(38n) {
  -webkit-animation-delay: 380ms;
          animation-delay: 380ms;
}
main div:nth-child(39n) {
  -webkit-animation-delay: 390ms;
          animation-delay: 390ms;
}
main div:nth-child(40n) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
main div:nth-child(41n) {
  -webkit-animation-delay: 410ms;
          animation-delay: 410ms;
}
main div:nth-child(42n) {
  -webkit-animation-delay: 420ms;
          animation-delay: 420ms;
}
main div:nth-child(43n) {
  -webkit-animation-delay: 430ms;
          animation-delay: 430ms;
}
main div:nth-child(44n) {
  -webkit-animation-delay: 440ms;
          animation-delay: 440ms;
}
main div:nth-child(45n) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
main div:nth-child(46n) {
  -webkit-animation-delay: 460ms;
          animation-delay: 460ms;
}
main div:nth-child(47n) {
  -webkit-animation-delay: 470ms;
          animation-delay: 470ms;
}
main div:nth-child(48n) {
  -webkit-animation-delay: 480ms;
          animation-delay: 480ms;
}
main div:nth-child(49n) {
  -webkit-animation-delay: 490ms;
          animation-delay: 490ms;
}
main div:nth-child(50n) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
main div:nth-child(51n) {
  -webkit-animation-delay: 510ms;
          animation-delay: 510ms;
}
main div:nth-child(52n) {
  -webkit-animation-delay: 520ms;
          animation-delay: 520ms;
}
main div:nth-child(53n) {
  -webkit-animation-delay: 530ms;
          animation-delay: 530ms;
}
main div:nth-child(54n) {
  -webkit-animation-delay: 540ms;
          animation-delay: 540ms;
}
main div:nth-child(55n) {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}
main div:nth-child(56n) {
  -webkit-animation-delay: 560ms;
          animation-delay: 560ms;
}
main div:nth-child(57n) {
  -webkit-animation-delay: 570ms;
          animation-delay: 570ms;
}
main div:nth-child(58n) {
  -webkit-animation-delay: 580ms;
          animation-delay: 580ms;
}
main div:nth-child(59n) {
  -webkit-animation-delay: 590ms;
          animation-delay: 590ms;
}
main div:nth-child(60n) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
main div:nth-child(61n) {
  -webkit-animation-delay: 610ms;
          animation-delay: 610ms;
}
main div:nth-child(62n) {
  -webkit-animation-delay: 620ms;
          animation-delay: 620ms;
}
main div:nth-child(63n) {
  -webkit-animation-delay: 630ms;
          animation-delay: 630ms;
}
main div:nth-child(64n) {
  -webkit-animation-delay: 640ms;
          animation-delay: 640ms;
}
main div:nth-child(65n) {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}
main div:nth-child(66n) {
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
}
main div:nth-child(67n) {
  -webkit-animation-delay: 670ms;
          animation-delay: 670ms;
}
main div:nth-child(68n) {
  -webkit-animation-delay: 680ms;
          animation-delay: 680ms;
}
main div:nth-child(69n) {
  -webkit-animation-delay: 690ms;
          animation-delay: 690ms;
}
main div:nth-child(70n) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
main div:nth-child(71n) {
  -webkit-animation-delay: 710ms;
          animation-delay: 710ms;
}
main div:nth-child(72n) {
  -webkit-animation-delay: 720ms;
          animation-delay: 720ms;
}
main div:nth-child(73n) {
  -webkit-animation-delay: 730ms;
          animation-delay: 730ms;
}
main div:nth-child(74n) {
  -webkit-animation-delay: 740ms;
          animation-delay: 740ms;
}
main div:nth-child(75n) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
main div:nth-child(76n) {
  -webkit-animation-delay: 760ms;
          animation-delay: 760ms;
}
main div:nth-child(77n) {
  -webkit-animation-delay: 770ms;
          animation-delay: 770ms;
}
main div:nth-child(78n) {
  -webkit-animation-delay: 780ms;
          animation-delay: 780ms;
}
main div:nth-child(79n) {
  -webkit-animation-delay: 790ms;
          animation-delay: 790ms;
}
main div:nth-child(80n) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
main div:nth-child(81n) {
  -webkit-animation-delay: 810ms;
          animation-delay: 810ms;
}
main div:nth-child(82n) {
  -webkit-animation-delay: 820ms;
          animation-delay: 820ms;
}
main div:nth-child(83n) {
  -webkit-animation-delay: 830ms;
          animation-delay: 830ms;
}
main div:nth-child(84n) {
  -webkit-animation-delay: 840ms;
          animation-delay: 840ms;
}
main div:nth-child(85n) {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}
main div:nth-child(86n) {
  -webkit-animation-delay: 860ms;
          animation-delay: 860ms;
}
main div:nth-child(87n) {
  -webkit-animation-delay: 870ms;
          animation-delay: 870ms;
}
main div:nth-child(88n) {
  -webkit-animation-delay: 880ms;
          animation-delay: 880ms;
}
main div:nth-child(89n) {
  -webkit-animation-delay: 890ms;
          animation-delay: 890ms;
}
main div:nth-child(90n) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
main div:nth-child(91n) {
  -webkit-animation-delay: 910ms;
          animation-delay: 910ms;
}
main div:nth-child(92n) {
  -webkit-animation-delay: 920ms;
          animation-delay: 920ms;
}
main div:nth-child(93n) {
  -webkit-animation-delay: 930ms;
          animation-delay: 930ms;
}
main div:nth-child(94n) {
  -webkit-animation-delay: 940ms;
          animation-delay: 940ms;
}
main div:nth-child(95n) {
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
}
main div:nth-child(96n) {
  -webkit-animation-delay: 960ms;
          animation-delay: 960ms;
}
main div:nth-child(97n) {
  -webkit-animation-delay: 970ms;
          animation-delay: 970ms;
}
main div:nth-child(98n) {
  -webkit-animation-delay: 980ms;
          animation-delay: 980ms;
}
main div:nth-child(99n) {
  -webkit-animation-delay: 990ms;
          animation-delay: 990ms;
}
main div:nth-child(100n) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
main div:nth-child(101n) {
  -webkit-animation-delay: 1010ms;
          animation-delay: 1010ms;
}
main div:nth-child(102n) {
  -webkit-animation-delay: 1020ms;
          animation-delay: 1020ms;
}
main div:nth-child(103n) {
  -webkit-animation-delay: 1030ms;
          animation-delay: 1030ms;
}
main div:nth-child(104n) {
  -webkit-animation-delay: 1040ms;
          animation-delay: 1040ms;
}
main div:nth-child(105n) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
main div:nth-child(106n) {
  -webkit-animation-delay: 1060ms;
          animation-delay: 1060ms;
}
main div:nth-child(107n) {
  -webkit-animation-delay: 1070ms;
          animation-delay: 1070ms;
}
main div:nth-child(108n) {
  -webkit-animation-delay: 1080ms;
          animation-delay: 1080ms;
}
main div:nth-child(109n) {
  -webkit-animation-delay: 1090ms;
          animation-delay: 1090ms;
}
main div:nth-child(110n) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
main div:nth-child(111n) {
  -webkit-animation-delay: 1110ms;
          animation-delay: 1110ms;
}
main div:nth-child(112n) {
  -webkit-animation-delay: 1120ms;
          animation-delay: 1120ms;
}
main div:nth-child(113n) {
  -webkit-animation-delay: 1130ms;
          animation-delay: 1130ms;
}
main div:nth-child(114n) {
  -webkit-animation-delay: 1140ms;
          animation-delay: 1140ms;
}
main div:nth-child(115n) {
  -webkit-animation-delay: 1150ms;
          animation-delay: 1150ms;
}
main div:nth-child(116n) {
  -webkit-animation-delay: 1160ms;
          animation-delay: 1160ms;
}
main div:nth-child(117n) {
  -webkit-animation-delay: 1170ms;
          animation-delay: 1170ms;
}
main div:nth-child(118n) {
  -webkit-animation-delay: 1180ms;
          animation-delay: 1180ms;
}
main div:nth-child(119n) {
  -webkit-animation-delay: 1190ms;
          animation-delay: 1190ms;
}
main div:nth-child(120n) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
main div:nth-child(121n) {
  -webkit-animation-delay: 1210ms;
          animation-delay: 1210ms;
}
main div:nth-child(122n) {
  -webkit-animation-delay: 1220ms;
          animation-delay: 1220ms;
}
main div:nth-child(123n) {
  -webkit-animation-delay: 1230ms;
          animation-delay: 1230ms;
}
main div:nth-child(124n) {
  -webkit-animation-delay: 1240ms;
          animation-delay: 1240ms;
}
main div:nth-child(125n) {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}
main div:nth-child(126n) {
  -webkit-animation-delay: 1260ms;
          animation-delay: 1260ms;
}
main div:nth-child(127n) {
  -webkit-animation-delay: 1270ms;
          animation-delay: 1270ms;
}
main div:nth-child(128n) {
  -webkit-animation-delay: 1280ms;
          animation-delay: 1280ms;
}
main div:nth-child(129n) {
  -webkit-animation-delay: 1290ms;
          animation-delay: 1290ms;
}
main div:nth-child(130n) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
main div:nth-child(131n) {
  -webkit-animation-delay: 1310ms;
          animation-delay: 1310ms;
}
main div:nth-child(132n) {
  -webkit-animation-delay: 1320ms;
          animation-delay: 1320ms;
}
main div:nth-child(133n) {
  -webkit-animation-delay: 1330ms;
          animation-delay: 1330ms;
}
main div:nth-child(134n) {
  -webkit-animation-delay: 1340ms;
          animation-delay: 1340ms;
}
main div:nth-child(135n) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}
main div:nth-child(136n) {
  -webkit-animation-delay: 1360ms;
          animation-delay: 1360ms;
}
main div:nth-child(137n) {
  -webkit-animation-delay: 1370ms;
          animation-delay: 1370ms;
}
main div:nth-child(138n) {
  -webkit-animation-delay: 1380ms;
          animation-delay: 1380ms;
}
main div:nth-child(139n) {
  -webkit-animation-delay: 1390ms;
          animation-delay: 1390ms;
}
main div:nth-child(140n) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
main div:nth-child(141n) {
  -webkit-animation-delay: 1410ms;
          animation-delay: 1410ms;
}
main div:nth-child(142n) {
  -webkit-animation-delay: 1420ms;
          animation-delay: 1420ms;
}
main div:nth-child(143n) {
  -webkit-animation-delay: 1430ms;
          animation-delay: 1430ms;
}
main div:nth-child(144n) {
  -webkit-animation-delay: 1440ms;
          animation-delay: 1440ms;
}
main div:nth-child(145n) {
  -webkit-animation-delay: 1450ms;
          animation-delay: 1450ms;
}
main div:nth-child(146n) {
  -webkit-animation-delay: 1460ms;
          animation-delay: 1460ms;
}
main div:nth-child(147n) {
  -webkit-animation-delay: 1470ms;
          animation-delay: 1470ms;
}
main div:nth-child(148n) {
  -webkit-animation-delay: 1480ms;
          animation-delay: 1480ms;
}
main div:nth-child(149n) {
  -webkit-animation-delay: 1490ms;
          animation-delay: 1490ms;
}
main div:nth-child(150n) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}
main div:nth-child(151n) {
  -webkit-animation-delay: 1510ms;
          animation-delay: 1510ms;
}
main div:nth-child(152n) {
  -webkit-animation-delay: 1520ms;
          animation-delay: 1520ms;
}
main div:nth-child(153n) {
  -webkit-animation-delay: 1530ms;
          animation-delay: 1530ms;
}
main div:nth-child(154n) {
  -webkit-animation-delay: 1540ms;
          animation-delay: 1540ms;
}
main div:nth-child(155n) {
  -webkit-animation-delay: 1550ms;
          animation-delay: 1550ms;
}
main div:nth-child(156n) {
  -webkit-animation-delay: 1560ms;
          animation-delay: 1560ms;
}
main div:nth-child(157n) {
  -webkit-animation-delay: 1570ms;
          animation-delay: 1570ms;
}
main div:nth-child(158n) {
  -webkit-animation-delay: 1580ms;
          animation-delay: 1580ms;
}
main div:nth-child(159n) {
  -webkit-animation-delay: 1590ms;
          animation-delay: 1590ms;
}
main div:nth-child(160n) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}
main div:nth-child(161n) {
  -webkit-animation-delay: 1610ms;
          animation-delay: 1610ms;
}
main div:nth-child(162n) {
  -webkit-animation-delay: 1620ms;
          animation-delay: 1620ms;
}
main div:nth-child(163n) {
  -webkit-animation-delay: 1630ms;
          animation-delay: 1630ms;
}
main div:nth-child(164n) {
  -webkit-animation-delay: 1640ms;
          animation-delay: 1640ms;
}
main div:nth-child(165n) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}
main div:nth-child(166n) {
  -webkit-animation-delay: 1660ms;
          animation-delay: 1660ms;
}
main div:nth-child(167n) {
  -webkit-animation-delay: 1670ms;
          animation-delay: 1670ms;
}
main div:nth-child(168n) {
  -webkit-animation-delay: 1680ms;
          animation-delay: 1680ms;
}
main div:nth-child(169n) {
  -webkit-animation-delay: 1690ms;
          animation-delay: 1690ms;
}
main div:nth-child(170n) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}
main div:nth-child(171n) {
  -webkit-animation-delay: 1710ms;
          animation-delay: 1710ms;
}
main div:nth-child(172n) {
  -webkit-animation-delay: 1720ms;
          animation-delay: 1720ms;
}
main div:nth-child(173n) {
  -webkit-animation-delay: 1730ms;
          animation-delay: 1730ms;
}
main div:nth-child(174n) {
  -webkit-animation-delay: 1740ms;
          animation-delay: 1740ms;
}
main div:nth-child(175n) {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}
main div:nth-child(176n) {
  -webkit-animation-delay: 1760ms;
          animation-delay: 1760ms;
}
main div:nth-child(177n) {
  -webkit-animation-delay: 1770ms;
          animation-delay: 1770ms;
}
main div:nth-child(178n) {
  -webkit-animation-delay: 1780ms;
          animation-delay: 1780ms;
}
main div:nth-child(179n) {
  -webkit-animation-delay: 1790ms;
          animation-delay: 1790ms;
}
main div:nth-child(180n) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}
main div:nth-child(181n) {
  -webkit-animation-delay: 1810ms;
          animation-delay: 1810ms;
}
main div:nth-child(182n) {
  -webkit-animation-delay: 1820ms;
          animation-delay: 1820ms;
}
main div:nth-child(183n) {
  -webkit-animation-delay: 1830ms;
          animation-delay: 1830ms;
}
main div:nth-child(184n) {
  -webkit-animation-delay: 1840ms;
          animation-delay: 1840ms;
}
main div:nth-child(185n) {
  -webkit-animation-delay: 1850ms;
          animation-delay: 1850ms;
}
main div:nth-child(186n) {
  -webkit-animation-delay: 1860ms;
          animation-delay: 1860ms;
}
main div:nth-child(187n) {
  -webkit-animation-delay: 1870ms;
          animation-delay: 1870ms;
}
main div:nth-child(188n) {
  -webkit-animation-delay: 1880ms;
          animation-delay: 1880ms;
}
main div:nth-child(189n) {
  -webkit-animation-delay: 1890ms;
          animation-delay: 1890ms;
}
main div:nth-child(190n) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}
main div:nth-child(191n) {
  -webkit-animation-delay: 1910ms;
          animation-delay: 1910ms;
}
main div:nth-child(192n) {
  -webkit-animation-delay: 1920ms;
          animation-delay: 1920ms;
}
main div:nth-child(193n) {
  -webkit-animation-delay: 1930ms;
          animation-delay: 1930ms;
}
main div:nth-child(194n) {
  -webkit-animation-delay: 1940ms;
          animation-delay: 1940ms;
}
main div:nth-child(195n) {
  -webkit-animation-delay: 1950ms;
          animation-delay: 1950ms;
}
main div:nth-child(196n) {
  -webkit-animation-delay: 1960ms;
          animation-delay: 1960ms;
}
main div:nth-child(197n) {
  -webkit-animation-delay: 1970ms;
          animation-delay: 1970ms;
}
main div:nth-child(198n) {
  -webkit-animation-delay: 1980ms;
          animation-delay: 1980ms;
}
main div:nth-child(199n) {
  -webkit-animation-delay: 1990ms;
          animation-delay: 1990ms;
}
main div:nth-child(200n) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
main div:nth-child(201n) {
  -webkit-animation-delay: 2010ms;
          animation-delay: 2010ms;
}
main div:nth-child(202n) {
  -webkit-animation-delay: 2020ms;
          animation-delay: 2020ms;
}
main div:nth-child(203n) {
  -webkit-animation-delay: 2030ms;
          animation-delay: 2030ms;
}
main div:nth-child(204n) {
  -webkit-animation-delay: 2040ms;
          animation-delay: 2040ms;
}
main div:nth-child(205n) {
  -webkit-animation-delay: 2050ms;
          animation-delay: 2050ms;
}
main div:nth-child(206n) {
  -webkit-animation-delay: 2060ms;
          animation-delay: 2060ms;
}
main div:nth-child(207n) {
  -webkit-animation-delay: 2070ms;
          animation-delay: 2070ms;
}
main div:nth-child(208n) {
  -webkit-animation-delay: 2080ms;
          animation-delay: 2080ms;
}
main div:nth-child(209n) {
  -webkit-animation-delay: 2090ms;
          animation-delay: 2090ms;
}
main div:nth-child(210n) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}
main div:nth-child(211n) {
  -webkit-animation-delay: 2110ms;
          animation-delay: 2110ms;
}
main div:nth-child(212n) {
  -webkit-animation-delay: 2120ms;
          animation-delay: 2120ms;
}
main div:nth-child(213n) {
  -webkit-animation-delay: 2130ms;
          animation-delay: 2130ms;
}
main div:nth-child(214n) {
  -webkit-animation-delay: 2140ms;
          animation-delay: 2140ms;
}
main div:nth-child(215n) {
  -webkit-animation-delay: 2150ms;
          animation-delay: 2150ms;
}
main div:nth-child(216n) {
  -webkit-animation-delay: 2160ms;
          animation-delay: 2160ms;
}
main div:nth-child(217n) {
  -webkit-animation-delay: 2170ms;
          animation-delay: 2170ms;
}
main div:nth-child(218n) {
  -webkit-animation-delay: 2180ms;
          animation-delay: 2180ms;
}
main div:nth-child(219n) {
  -webkit-animation-delay: 2190ms;
          animation-delay: 2190ms;
}
main div:nth-child(220n) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}
main div:nth-child(221n) {
  -webkit-animation-delay: 2210ms;
          animation-delay: 2210ms;
}
main div:nth-child(222n) {
  -webkit-animation-delay: 2220ms;
          animation-delay: 2220ms;
}
main div:nth-child(223n) {
  -webkit-animation-delay: 2230ms;
          animation-delay: 2230ms;
}
main div:nth-child(224n) {
  -webkit-animation-delay: 2240ms;
          animation-delay: 2240ms;
}
main div:nth-child(225n) {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}
main div:nth-child(226n) {
  -webkit-animation-delay: 2260ms;
          animation-delay: 2260ms;
}
main div:nth-child(227n) {
  -webkit-animation-delay: 2270ms;
          animation-delay: 2270ms;
}
main div:nth-child(228n) {
  -webkit-animation-delay: 2280ms;
          animation-delay: 2280ms;
}
main div:nth-child(229n) {
  -webkit-animation-delay: 2290ms;
          animation-delay: 2290ms;
}
main div:nth-child(230n) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}
main div:nth-child(231n) {
  -webkit-animation-delay: 2310ms;
          animation-delay: 2310ms;
}
main div:nth-child(232n) {
  -webkit-animation-delay: 2320ms;
          animation-delay: 2320ms;
}
main div:nth-child(233n) {
  -webkit-animation-delay: 2330ms;
          animation-delay: 2330ms;
}
main div:nth-child(234n) {
  -webkit-animation-delay: 2340ms;
          animation-delay: 2340ms;
}
main div:nth-child(235n) {
  -webkit-animation-delay: 2350ms;
          animation-delay: 2350ms;
}
main div:nth-child(236n) {
  -webkit-animation-delay: 2360ms;
          animation-delay: 2360ms;
}
main div:nth-child(237n) {
  -webkit-animation-delay: 2370ms;
          animation-delay: 2370ms;
}
main div:nth-child(238n) {
  -webkit-animation-delay: 2380ms;
          animation-delay: 2380ms;
}
main div:nth-child(239n) {
  -webkit-animation-delay: 2390ms;
          animation-delay: 2390ms;
}
main div:nth-child(240n) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}
main div:nth-child(241n) {
  -webkit-animation-delay: 2410ms;
          animation-delay: 2410ms;
}
main div:nth-child(242n) {
  -webkit-animation-delay: 2420ms;
          animation-delay: 2420ms;
}
main div:nth-child(243n) {
  -webkit-animation-delay: 2430ms;
          animation-delay: 2430ms;
}
main div:nth-child(244n) {
  -webkit-animation-delay: 2440ms;
          animation-delay: 2440ms;
}
main div:nth-child(245n) {
  -webkit-animation-delay: 2450ms;
          animation-delay: 2450ms;
}
main div:nth-child(246n) {
  -webkit-animation-delay: 2460ms;
          animation-delay: 2460ms;
}
main div:nth-child(247n) {
  -webkit-animation-delay: 2470ms;
          animation-delay: 2470ms;
}
main div:nth-child(248n) {
  -webkit-animation-delay: 2480ms;
          animation-delay: 2480ms;
}
main div:nth-child(249n) {
  -webkit-animation-delay: 2490ms;
          animation-delay: 2490ms;
}
main div:nth-child(250n) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}
main div:nth-child(251n) {
  -webkit-animation-delay: 2510ms;
          animation-delay: 2510ms;
}
main div:nth-child(252n) {
  -webkit-animation-delay: 2520ms;
          animation-delay: 2520ms;
}
main div:nth-child(253n) {
  -webkit-animation-delay: 2530ms;
          animation-delay: 2530ms;
}
main div:nth-child(254n) {
  -webkit-animation-delay: 2540ms;
          animation-delay: 2540ms;
}
main div:nth-child(255n) {
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
}
main div:nth-child(256n) {
  -webkit-animation-delay: 2560ms;
          animation-delay: 2560ms;
}
main div:hover {
  transform: scale(2);
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.red {
  background-color: #A12122;
}

.skin {
  background-color: #C79D75;
}

.brown {
  background-color: #52211A;
}

.blu {
  background-color: #303A99;
}

.yellow {
  background-color: #FEF200;
}

.black {
  background-color: #000;
}

.gloves {
  background-color: #FDC40D;
}

@media (max-width: 500px) {
  main {
    height: 100vh;
    grid-template-columns: repeat(16, 1rem);
    grid-template-rows: repeat(16, 1rem);
    justify-content: center;
    align-content: center;
  }
  main div {
    height: 1rem;
    width: 1rem;
  }
}/*# sourceMappingURL=style.css.map */