body{margin:0;}
main{
    background: rgb(9,121,76);
    background: linear-gradient(90deg, rgba(9,121,76,1) 0%, rgba(0,212,255,1) 100%);
    height:100vh;
    display:grid;
    grid-template-columns:repeat(16, 3rem);
    grid-template-rows: repeat(16, 3rem);
    justify-content: center;
    align-content: center;
    div{ 
        height:3rem;
        width:3rem;
        animation:load 500ms steps(16, end);
        animation-fill-mode:backwards;
        @for $i from 0 through 256 {
            &:nth-child(#{$i}n) {
                animation-delay: #{$i * 10}ms;
            }
        }
        
        
    }
    
}

@keyframes load {0%{opacity:0;}100%{opacity:0;}}




.red{background-color:#A12122}
.skin{background-color:#C79D75}
.brown{background-color: #52211A;}
.blu{background-color: #303A99;}
.yellow{background-color: #FEF200;}
.black{background-color: #000;}
.gloves{background-color: #FDC40D;}


@media (max-width: 500px) {main{
    height:100vh;
    grid-template-columns:repeat(16, 1rem);
    grid-template-rows: repeat(16, 1rem);
    justify-content: center;
    align-content: center;
    div{ 
        height:1rem;
        width:1rem;
    }
    
}}